<ul class="text-danger" *ngIf="errores?.length > 0">
    <li *ngFor="let err of errores">
        {{err}}
    </li>
</ul>

<div class="card bg-dark text-white mt-4">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
        <form #clienteForm="ngForm">
            <div class="form-group row mb-3">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre"  #nombre="ngModel"><!-- required minlength="4" --> 
                    <div class="text-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <p *ngIf="nombre.errors.required">
                            Debe introducir un nombre.
                        </p>
                        <p *ngIf="nombre.errors.minlength">
                            El nombre debe tener al menos 4 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="apellidos" class="col-form-label col-sm-2">Apellidos</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellidos" name="apellidos" #apellido="ngModel"> <!-- required minlength="4" --> 
                    <div class="text-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <p *ngIf="apellido.errors.required">
                            Debe introducir un apellido.
                        </p>
                        <p *ngIf="apellido.errors.minlength">
                            Los apellidos deben tener al menos 4 caracteres.
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group row mb-3">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="email" class="form-control" [(ngModel)]="cliente.email" name="email" #email="ngModel"> <!-- required email --> 
                    <div class="text-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <p *ngIf="email.errors.required">
                            Debe introducir un email.
                        </p>
                        <p *ngIf="email.errors.email">
                            El email debe tener un formato válido.
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click) = 'create()' *ngIf="!cliente.id else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>

                    <ng-template #elseBlock>
                        <button class="btn btn-primary" role="button" (click) = 'update()' [disabled]="!clienteForm.form.valid">Actualizar</button>
                    </ng-template>
                    
                </div>
            </div>
        </form>
    </div>
</div>